.catalog {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: initial;
  overflow: hidden;
  .catalog_col {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    h5 {
      margin: 10px 0 10px 0;
    }
    .catalog_col__in {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
}
