.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.modal {
  position: absolute;
  background: white;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  padding: 15px;
}

.modalBody {
  height: 100%;
  width: 100%;
  padding-top: 10px;
}
